.Ingredient {
  font-family: inherit;
}
.Top {
  height: 60px;
  background-color: #d6be7c;
  margin-bottom: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.Cheese {
  height: 20px;
  background-color: yellow;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto 10px;
}
.Slice {
  height: 30px;
  background-color: #7fbd8d;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto 10px;
}
.Tomottow {
  height: 20px;
  background-color: #ff8a45;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto 10px;
}
.Bottom {
  height: 50px;
  background-color: #d6be7c;
}
