.Header {
  font-family: inherit;
  .Nav {
    padding: 20px;
    border: 1px solid #999;
  }
}
.NavLeft {
    float: left;
    h4 {
      font-weight: 300;
      color: #999;
      span {
        font-weight: 600;
      }
    }
}
.NavRight {
    float: right;
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0 10px;
          color: #999;
          text-decoration: none;
        }
      }
    }
}
