.Builder {
  float: right;
  width: 50%;
}
.BuilderBox {
  width: 80%;
  margin: 20px auto;
  input[type="text"] {
    height: 30px;
    padding: 10px;
    margin-right: 10px;
  }
  button {

  }
}
.BtnCheckout {
  -webkit-appearance: none;
  padding: 20px 40px;
  border: 0;
  background-color: burlywood;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}
.BuildControl {
  width: 70%;
  margin: 0 auto 15px;
  label {
    width: 50%;
    display: inline-block;
    text-align: center;
  }
  button {
    -webkit-appearance: none;
    border: 0;
    background-color: darkkhaki;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    width: 25%;
    padding: 12px;
  }
}
.BuilderCheckout {
  text-align: center;
  margin: 40px 0;
}
